ion-footer {
    --background: #0c9f0f; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    text-align: center;
    font-weight: bold;
  }
  
  .footer-title {
    font-size: 1em;
    text-align: center;
  }  