<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombres</ion-label>
    <ion-input type="text" placeholder="Ingresa tus nombres"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input type="text" placeholder="Ingresa tus apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" placeholder="correo@example.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Código</ion-label>
    <ion-input type="text" placeholder="Ingresa el código"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input type="tel" placeholder="Número de teléfono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" placeholder="Ingresa la contraseña"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" placeholder="Confirma la contraseña"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rol</ion-label>
    <ion-select placeholder="Selecciona un rol">
      <ion-select-option value="student">Estudiante</ion-select-option>
      <ion-select-option value="admin">Administrativo</ion-select-option>
      <ion-select-option value="vigilant">Vigilante</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" class="register-button" (click)="registerUser()">Registrar</ion-button>

  <div class="button-group ion-text-center">
¿    <ion-button color="danger" (click)="goBack()">Volver</ion-button>
  </div>
</ion-content>
