<ion-header>
  <ion-toolbar>
    <ion-title>Gestión Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button expand="block" color="primary" (click)="viewUsers()">Ver Usuarios</ion-button>
    <ion-button expand="block" color="success" (click)="registerUser()">Registrar Usuario</ion-button>
  </div>
</ion-content>
