<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Admin</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div class="button-group ion-text-center">
  <ion-button class="action-button" (click)="goToUserManagement()">Usuarios FET</ion-button>
  <ion-button class="action-button" (click)="goToVisitorManagement()">Visitantes</ion-button>
  <ion-button class="action-button" (click)="goToAccessLogsManagement()">Registro de accesos</ion-button>
  <ion-button (click)="logout()" color="danger">Cerrar Sesión</ion-button>
</div>
</ion-content>
