<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="goToUserManagement()">
    Usuarios FET
  </ion-button>
  <ion-button expand="full" (click)="goToVisitorManagement()">
    Visitantes
  </ion-button>
  <ion-button expand="full" (click)="goToAccessLogsManagement()">
    Registro de accesos
  </ion-button>
  
</ion-content>
