<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, {{ vigilanteName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <div class="welcome-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido, {{ vigilanteName }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-content class="ion-padding">
    <ion-button class="informacionperfil" routerLink="/scan-qr">Escanear Código QR</ion-button>
    <ion-button class="generate-qr" (click)="goToQrVisitor()">QR visitante</ion-button>
    <ion-button color="danger" (click)="logout()">Cerrar Sesión</ion-button>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">SOY FET</ion-title>
  </ion-toolbar>
</ion-footer>
