ion-content {
    --background: #ffffff;
  }
  
  ion-toolbar {
    --min-height: 56px;
    --padding-start: 16px;
    --padding-end: 16px;
    --background: #0c9f0f;
    color: #000000;
  }
  
  ion-segment {
    --background: #f0f4f7; /* Fondo gris claro para el segmento */
    --indicator-color: #0c9f0f; /* Verde para el indicador de selección */
    border-radius: 12px;
    margin: 16px 0;
  }
  
  ion-segment-button {
    --color-checked: #000000; /* Verde cuando está seleccionado */
    --indicator-color: #0c9f0f;
    font-weight: bold;
  }
  
  ion-searchbar {
    --background: #ffffff;
    --color: #333333;
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    --background: #f8f9fa; /* Fondo gris claro para cada elemento de la lista */
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para separar los elementos */
  }
  
  ion-label h2 {
    font-weight: bold;
    color: #333333; /* Texto oscuro para el nombre */
  }
  
  ion-label p {
    color: #666666; /* Texto gris para la información adicional */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  ion-button {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
  }
  
  ion-button[color="danger"] {
    --background: #ff4d4f;
    border-radius: 30px;
    width: 80%; /* Asegura que el ancho sea el mismo */
  }
  
  ion-text {
    color: #999999;
    margin-top: 20px;
  }

  ion-list {
    --background: #ffffff; /* Fondo blanco para toda la lista */
  }
  
  ion-label {
    color: #333333; /* Texto en gris oscuro para mejorar la legibilidad */
  }