<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <!-- Campo de correo electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        required
        aria-label="Correo Electrónico"
      ></ion-input>
    </ion-item>

    <!-- Campo de contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        required
        aria-label="Contraseña"
      ></ion-input>
    </ion-item>

    <!-- Botón de inicio de sesión -->
    <ion-button expand="full" type="submit" color="primary">Iniciar Sesión</ion-button>
  </form>
</ion-content>
