<ion-header >
  <ion-toolbar color="success">
    <ion-title>Generar QR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="qr-container" *ngIf="qrCode">
    <ion-card color="success" class="qr-card">
      <ion-card-content>
        <h2 class="qr-title">Tu código QR:</h2>
        <div class="qr-content">
          <img [src]="qrCode" alt="Código QR" class="qr-image" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-text *ngIf="!qrCode" color="medium" class="ion-text-center">
    <h3>Cargando código QR...</h3>
  </ion-text>
</ion-content>
