<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="qr-container" *ngIf="qrCode">
    <ion-card  class="qr-card">
      <ion-card-content>
        <h2 class="qr-title">Tu código QR:</h2>
        <div class="qr-content">
          <img [src]="qrCode" alt="Código QR" class="qr-image" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón Volver debajo del código QR -->
  <div class="button-container">
    <ion-button color="danger" shape="round" (click)="goBack()">Volver</ion-button>
  </div>
</ion-content>
