ion-content {
  --background: #ffffff;
}

.welcome-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

ion-card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: #000000;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  --background: #0c9f0f;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  border: 3px solid #ffffff;
}

ion-button {
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
  display: block;
  margin: 20px auto;
}

ion-button[color="danger"] {
  --background: #ff4d4f;
  border-radius: 30px;
  width: 80%; /* Asegura que el ancho sea el mismo */
}

ion-button.generate-qr {
  --background: #0c9f0f;
  height: 50px; /* Aumenta la altura para que sea un poco más largo */
  width: 100%; /* Asegura el mismo ancho */
}

ion-button.informacionperfil {
  --background: #0c9f0f;
  height: 50px; /* Aumenta la altura para que sea un poco más largo */
  width: 100%; /* Asegura el mismo ancho */
}

ion-button.accionesdisponible {
  --background: #0c9f0f;
  height: 50px; /* Aumenta la altura para que sea un poco más largo */
  width: 100%; /* Asegura el mismo ancho */
}

ion-toolbar {
  --min-height: 56px;
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #0c9f0f;
  color: #000000;
}
