<ion-header>
  <ion-toolbar color="success">
    <ion-title>Inicio Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-card">
    <ion-card color="success">
      <ion-card-header>
        <div class="profile-picture">
          <img src="assets/img/feo.jpg" alt="Foto de perfil" />
        </div>
      </ion-card-header>
      <ion-card-content>
        <h2>Hola, {{ userName }}!</h2>
        <p>¿Qué deseas hacer hoy?</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-content class="ion-padding">
    <ion-button expand="full" (click)="goToUserManagement()" color="success">Generar QR</ion-button>
  </ion-content>
</ion-content>
