ion-content {
    --background: #ffffff;
}
  
ion-card {
    --background: #f0f4f7; /* Fondo gris claro */
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 16px;
}
  
ion-item {
    --background: #ffffff; /* Fondo blanco en los elementos de entrada */
    --color: #0c9f0f; /* Verde para el texto y borde de los ítems */
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
  
ion-label {
    color: #0c9f0f; /* Verde para las etiquetas */
}
  
input[type="file"] {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #0c9f0f;
    border-radius: 8px;
    margin-top: 8px;
}
  
ion-button {
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}
  

.guardarcambios {
    --background: #0c9f0f;
    height: 50px; /* Aumenta la altura para que sea un poco más largo */
    width: 100%; /* Asegura el mismo ancho */
  }
  
ion-button[color="danger"] {
    --background: #ff4d4f;
    border-radius: 30px;
    width: 80%; /* Asegura que el ancho sea el mismo */
  }
  
ion-toolbar {
    --min-height: 56px;
    --padding-start: 16px;
    --padding-end: 16px;
    --background: #0c9f0f;
    color: #000000;
}